{{ define "index" }}

{{ template "header" }}


<div class="auth">
    <form action="/addUser" method="post">
        <table style="margin: auto;">
            <tr>
                <th>Name</th>
                <td><input type="text" name="fName" placeholder="Adam" required></td>
            </tr>
            <tr>
                <th>Surname</th>
                <td><input type="text" name="surname" placeholder="Adam" required></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><input type="text" name="gender" required></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email" placeholder="example@email.com"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="pwd" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="create user" style="text-align: center;">
                </td>
            </tr>
        </table>
    </form>
</div>

{{ template "footer"}}

{{ end }}