{{ define "index" }}

{{ template "header" }}


<div class="auth">
    <form>
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" placeholder="Adam"></td>
            </tr>
            <tr>
                <th>Surname</th>
                <td><input type="text" placeholder="Adam"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" placeholder="example@email.com"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</div>

{{ template "footer"}}

{{ end }}