{{ define "signin" }}

{{ template "header" }}


<div class="auth">
    <form action="/addUser" method="post">
        <div class="tab">User info:
            <input class="info" placeholder="First name..." name="fname" required/>
            <input class="info" placeholder="Last name..." name="lname" required/>
            <input class="info" placeholder="E-mail..." name="email" required/>
            <input class="info" placeholder="Phone..." name="phone" required/>
            <input class="info" type="date" name="bdate" required/>
            <input class="info" placeholder="Username..." name="uname" required/>
            <input class="info" placeholder="Password..." name="pword" type="password" required/>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>

{{ template "footer"}}

{{ end }}