{{ define "signin" }}

{{ template "header" }}


<div class="auth">
    <form action="/addUser" method="post">
        <div class="tab">User info:
            <input class="info" placeholder="Username" name="uname" required/>
            <input class="info" type="email" placeholder="Email" name="email" required/>
            <input class="info" type="password" placeholder="Password" name="pwd" required/>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>

{{ template "footer"}}

{{ end }}