{{define "post"}}
<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <a href="/">Home</a>
    <div class="post-container">
        <div class="post-title">{{.Title}}</div>
        <div class="post-author">{{.User.Username}}</div>
        <div class="categories-container">
            {{range .Categories}}
                <div class="category"><a href="/category?ID={{.ID}}">{{.Category}}</a></div>
            {{end}}
        </div>
        <div class="post-content">{{.Content}}</div>
        <div class="post-likes"><a href="/postLike?ID={{.ID}}">Likes</a> {{.Like}}</div>
        <div class="post-dislikes"><a href="/postDislike?ID={{.ID}}">Dislikes</a> {{.Dislike}}</div>
    </div>
    <div class="comment-container">
        {{range .Comments}}
        <div class="comment-author">{{.Username}}</div>
        <div class="comment-content">{{.Message}}</div>
        <div class="comment-likes"><a href="/commentLike?ID={{.ID}}">Likes</a> {{.Like}}</div>
        <div class="comment-dislikes"><a href="/commentDislike?ID={{.ID}}">Dislikes</a> {{.Dislike}}</div>
        {{end}}
        <form action="/createComment?ID={{.ID}}" method="POST">
            <input type="text" name="comment" placeholder="Write your comment here...">
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>
{{end}}