{{define "unauth-view-post"}}
<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <div class="container">
        <a class="home" href="/">Home</a>
        <div class="post-container">
            <div class="post-author">{{.User.Username}}</div>
            <h1 class="post-title">{{.Title}}</h1>
            <div class="dropdown">
                <button class="dropbtn">  
                    <i>Categories</i>
                </button>
                <div class="dropdown-content">
                    {{ range .Categories}}
                    <a href="/category?ID={{.ID}}" id="{{.ID}}">{{.Category}}</a>
                    {{end}}
                </div>
            </div>
            <p class="post-content">
                {{.Content}}
            </p>
            <div class="post-likes">Likes: {{.Like}}</div>
            <div class="post-dislikes">Dislikes: {{.Dislike}}</div>
        </div>
        <div class="comment-container">
            {{range .Comments}}
                <div class="comment-author">{{.Username}}</div>
                <div class="comment-content">{{.Message}}</div>
                <div class="comment-likes">Likes: {{.Like}}</div>
                <div class="comment-dislikes">Dislikes: {{.Dislike}}</div>
            {{end}}
        </div>
    </div>
</body>
</html>
{{end}}