{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <div class="navbar">
      <a class="node" href="/">Home</a>
    <div class="dropdownnav">
      <button class="dropbtnnav">Categories</button>
      <div class="dropdownnav-content">
        {{ range .Categories}}
        <a href="/category?ID={{.ID}}" id="{{.ID}}">{{.Category}}</a>
        {{end}}
      </div>
    </div>
    <a class="node" href="/signIn">Sign in</a>
    <a class="node" href="/signUp">Sign up</a>
    
  </div>
    <div class="container">

      
    <div class="posts">
      {{range .Posts}}
        <div class="post-container">
          <div class="post-author">{{.User.Username}}</div>
          <h1 class="post-title" onclick="window.location='/post?ID={{.ID}}'">{{.Title}}</h1>
          <div class="dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              {{ range .Categories}}
              <a href="/category?ID={{.ID}}" id="{{.ID}}">{{.Category}}</a>
              {{end}}
            </div>
          </div>
          <p class="post-content">
              {{.Content}}
          </p>
          <div class="post-reactions">Like {{.Like}} Disike {{.Dislike}}</div>
        </div>
        {{end}}
      </div>
  </div>
</body>
</html>
{{end}}