* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  background: #000000;
  color: #FFFFFF;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.node {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.categories {
  display: block;
  width: 200px;
  height: 70;
  overflow: hidden;
  overflow-x: scroll;
}

.categories a {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background: #000000;
  text-decoration: none;
}

  .posts {
    width: 70%;
    margin: auto;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.315);
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    margin: 0;
  }
  
  .author {
    font-style: italic;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }