* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  background: #000000;
  color: #FFFFFF;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.node {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.categories {
  display: block;
  width: 200px;
  height: 70;
  overflow: hidden;
  overflow-x: scroll;
}

.categories a {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background: #000000;
  text-decoration: none;
}

  .posts {
    padding: 10px;
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    margin: 0;
  }
  
  .author {
    font-style: italic;
  }